@mixin pseudoTag($tag1,$tag2) {
  position: relative;
  &:before {
    content: $tag1;
    position: absolute;
    top: -3rem;
    color: $tagColor;
    left: -1rem;
    font-size: 1.4rem;
    font-family: "La Belle Aurore", cursive;
  }
  &:after {
    content: $tag2;
    position: absolute;
    bottom: -3rem;
    color: $tagColor;
    font-size: 1.4rem;
    font-family: "La Belle Aurore", cursive;
  }
}
