@mixin pseudoTag($tag1, $tag2, $top, $left, $bot) {
  position: relative;
  &:before {
    content: $tag1;
    position: absolute;
    top: $top + rem;
    color: $tagColor;
    left: $left + rem;
    font-size: 1.4rem;
    font-family: "La Belle Aurore", cursive;
  }
  &:after {
    content: $tag2;
    position: absolute;
    bottom: $bot + rem;

    color: $tagColor;
    font-size: 1.4rem;
    font-family: "La Belle Aurore", cursive;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rubberAnimProp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

@mixin rubberAnimation {
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }
}

@mixin btn {
  color: $maincolor;
  border: 1px solid $maincolor;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: 45px;
  position: relative;
  width: 100%;
  max-width: 220px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 1;

  &:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: $maincolor;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
  }

  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $maincolor;
    transition: all 0.35s ease;
  }

  &:hover {
    color: $bgcolor;
  }

  &:hover:before {
    left: 0;
    width: 100%;
  }

  &:active {
    top: 2px;
  }
}
