.main {
  min-height: 100vh;
  padding: 9rem 3rem;
  &_inner {
    .title {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 700;
    }
    .main_descr {
      font-size: 0.7rem;
    letter-spacing: 3px;
    margin-top: 2rem;
    display: block;
    color: #8d8d8d;
    }
  }
}