@import './../../sass/vars';
@import './../../sass/mixins';


.title {
  color: $maincolor;
  font-family: Coolvetica;
  font-weight: 400;
  position: relative;
  margin-bottom: 40px;
  font-size: 4.3rem;
  line-height: 2.7rem;
  @include pseudoTag('<h2>', '</h2>')
}