@import './../../sass/vars';
@import './../../sass/mixins';


.title {
  color: $maincolor;
  font-family: Coolvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 4.3rem;
  line-height: 2.7rem;
  @include pseudoTag('<h2>', '</h2>',-2.5, -1, -2)
}