@import "./../../sass/vars";
@import "./../../sass/mixins";

.work {
  position: relative;
  min-height: 100vh;
  &:before {
    content: "Work";
    position: absolute;
    right: 25vw;
    top: -5rem;
    font-size: 17rem;
    font-weight: 700;
    z-index: -1;
    color: rgba(255, 255, 255, 0.05);
  }
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 50px 0;
  }
  &_descr {
    font-size: 1.6rem;
  }
  &_link {
    color: $secondaryColor;
    &__btn {
      @include btn
    }
  }
}

.magic_wall {
  margin: 0px -10px;
  position: relative;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: $mq2+px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $mq3+px) {
    grid-template-columns: 1fr;
  }
  @include pseudoTag("<section>", "</section>", -1.8, 0, -1.5);
  &:before {
    left: 0;
  }
  &:after {
    right: 2rem;
  }
  &_column {
    padding: 5px 10px;
  }
}

