@import './../../sass/vars';
@import './../../sass/mixins';

.work {
  position: relative;
  height: 100vh;
  &:before {
    content: "Work";
    position: absolute;
    right: 17vw;
    top: 2rem;
    font-size: 17rem;
    font-weight: 700;
    z-index: -1;
    color: rgba(255, 255, 255, 0.05);
  }
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 20px 0;
  }
  &_descr {
    font-size: 1.6rem;
  }
  .link {
    color: $secondaryColor;
  }
}

.magic_wall {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -10px;
}
.magic_wall_column {
  flex: 0 0 33%;
  padding: 5px 10px;

  @media (max-width: $mq3+px) {
    flex: 0 0 50%
  }
  @media (max-width: $mq4+px) {
    flex: 0 0 100%
  }
}